<div class="container home">
  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start start">
    <div fxFlex.gt-md="25">
      <app-filters (searchEvent)="searchResult($event)" #filters></app-filters>
    </div>

    <div fxFlex.gt-md="75" class="home__content" *ngIf="!searchOffers.totalElements">
      <mat-tab-group mat-align-tabs="start dynamicHeight"
                     (selectedTabChange)="changeStore($event)">
        <mat-tab label="{{item}}" *ngFor="let item of ['Steam', 'GOG', 'Origin', 'Epic Games', 'Humble Bundle']">
          <app-offer [offers]="topOffers"></app-offer>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div fxFlex="75" class="home__content" *ngIf="searchOffers.totalElements">
      <div class="home__title">Wynik wyszukiwania</div>

      <app-offer [offers]="searchOffers.content"></app-offer>
    </div>
  </div>

  <div class="home__paginator" *ngIf="searchOffers.totalElements">
    <mat-paginator [length]="searchOffers.totalElements"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="handlePageEvent($event)">
    </mat-paginator>
  </div>
</div>

