.home {
  padding: 16px;
  text-align: center;

  @media(min-width: 960px) {
    max-width: 960px;
  }

  @media(min-width: 1280px) {
    max-width: 1280px;
  }

  &__content {
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;

    @media(min-width: 960px) {
      padding: 16px;
    }
  }

  &__paginator {
    margin-top: 24px;
    border-radius: 8px;
    overflow: hidden;
  }

  &__title {
    text-align: left;
    font-size: 22px;
    margin-bottom: 24px;
  }
}
